

body {
    background-color: purple;
}

html {
    
}

section {
    padding: 10px 30px 10px 30px
}

h1 {
    color: white;
    text-align: center;
    padding: 10px;

}

p {
    font-family: Verdana;
    font-size: 24px;
    padding: 10px;
}

.header-item {
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 36px;
    border: 1px;
    margin: 30px 50px;
    border-style: dashed;
    border-radius: 75%;
}

#item-one {
    background: hotpink;
    text-align: center;
    line-height: 100px;
}

#item-two {
    background: indigo;
    text-align: center;
    line-height: 100px;
}

#item-tree {
    background: khaki;
    text-align: center;
    line-height: 100px;

}

#item-four {
    background: rgb(184, 228, 135);
    text-align: center;
    line-height: 100px;
}

span {
    display: inline-block;
    background: lightblue;
    width: 30px;
    height: 30px;


input type="date" {
    border: 2px solid #000;
}

.date-border>input {
    border: 5px solid orangered;
}

img {
    height: 100px;
    width: 100px;
    border: 3px solid orangered;
    margin: 30px 50px;
}

fieldset {
    background-color: plum
    max-width: 500px;
    padding: 16px;
}



